<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Careers</title>
    <meta name="description" content="Careers Madbatters">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="careers.component.css">
</head>
<body>
<app-navbar></app-navbar>
<div id="container">
    <h2 id="title">Careers at MadBatter</h2>
    <div id="workWithUs">
        <p id="text">
            Interested in working with us?
            <br>
            <br>
            All of our available positions will be posted in the list below. If you have any inquiries, please send us an email with your resume.
        </p>
        <img id="image" src="http://www.longwood.edu/media/alumni-and-career-services/public-site/iStock-537693442_NEW-1-640x467.jpg">
    </div>
    <br>
    <div id="jobOpeningContainer">
        <p>Job Openings:</p>
        <br>
        <br>
        <p id="position">There are currently no open positions</p>
    </div>
</div>
<app-footer></app-footer>
</body>
</html>
