body{
    font-family: "Poppins", sans-serif;

    text-align: center;
    margin: 0 auto;
}

#container
{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #e3f2fd;
}

.header{
    font-variant: small-caps;
}


.aboutUs{
    text-decoration: underline;
    font-variant: small-caps;
    font-size: 35px;
    font-weight: bold;
    padding: 15px

}

.missionStatement{
    font-size: 22px;
    border: 0.5px solid black;
    padding: 15px;
    background-color: white;
}

.companyStory{
    font-size: 22px;
    border: 0.5px solid black;
    padding: 15px;
    background-color: white;
}

.map{
    border: 0.5px solid black;
    font-family: "Poppins", sans-serif;
    padding: 15px;
    background-color: white;
}

.map iframe{
    margin-bottom: 20px;
}

.map p{
    font-family: "Poppins", sans-serif;

}
