<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="about-us-page.component.css">
    <meta charset="UTF-8">
    <title>About Us</title>
    <meta name="description" content="About us Madbatters">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<app-navbar></app-navbar>
<br>
<div id="container">
<div class="aboutUs">
    <p>About Us</p>
</div>

<div class="missionStatement">
    <!--Mission Statement-->
    <h2 class="header">Our Mission Statement</h2>
    <p>Our company began with a simple idea. Creating a website where users could purchase high-quality baked goods from the comfort of their homes. This simple idea was, and still is, the ultimate goal that we as a company still work towards.</p>
</div>
<br>
<br>
<div class="companyStory">
    <!--Company Story-->
    <h2 class="header">Our Company's Story</h2>
    <p>The Mad Batter was founded in Windsor, Canada in 2022 when five members of a computer science class came together to work on a term project.</p>
    <p>Buying baked goods in person can often be difficult, as you are never guaranteed to receive what you are looking for due to limited stock. The Mad Batter was created to solve this problem, by combining the online shopping with the bakery experience, eliminating the guesswork that comes with purchasing baked goods in person.</p>
    <br>
</div>
<br>

<div class="map">
    <p>This is where it all started: The University of Windsor</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11803.16598944955!2d-83.066039!3d42.3043142!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1a44f1192a4e41ee!2sUniversity%20of%20Windsor!5e0!3m2!1sen!2sca!4v1657723730304!5m2!1sen!2sca" width="96%" height="450" style="border:2px solid cornflowerblue;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<br>
</div>
<app-footer></app-footer>
</body>
</html>
