<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="faq.component.css">
    <script src="faq.component.js"></script>
    <meta charset="UTF-8">
    <title>FAQ</title>
</head>
<body>
<div id="container">
    <h2>Frequently Asked Questions</h2>
    <div id="writing">
        <p>Below are some of our most frequently asked questions</p>
    </div>
    <hr>
    <br>
    <div id="buttonContainer">
        <div class="dropdown">
            <button class="button">Question One</button>
            <div class="answer">
                <p>Answer One</p>
            </div>
        </div>
        <div class="dropdown">
            <button class="button">Question Two</button>
            <div class="answer">
                <p>Answer Two</p>
            </div>
        </div>
        <div class="dropdown">
            <button class="button">Question Three</button>
            <div class="answer">
                <p>Answer Three</p>
            </div>
        </div>
        <div class="dropdown">
            <button class="button">Question Four</button>
            <div class="answer">
                <p>Answer Four</p>
            </div>
        </div>
        <div class="dropdown">
            <button class="button">Question Five</button>
            <div class="answer">
                <p>Answer Five</p>
            </div>
        </div>
        <div class="dropdown">
            <button class="button">Question Six</button>
            <div class="answer">
                <p>Answer Six</p>
            </div>
        </div>
    </div>
</div>
</body>