<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="faq.component.css">
    <script src="faq.component.js"></script>
    <meta charset="UTF-8">
    <title>FAQ</title>
</head>
<body>
<app-navbar></app-navbar>
<div id="container">
    <h2>Frequently Asked Questions</h2>
    <div id="writing">
        <p>Below are some of our most frequently asked questions</p>
    </div>
    <hr>
    <br>
    <div id="buttonContainer">
        <div class="dropdown">
            <button class="button">How do I know when my order will arrive?</button>
            <div class="answer">
                <p>Depending on where you are located, it may take a few business days as we need time to prepare and ship your order. Since we are dealing with food products, our aim is always to ensure that your receive your product as soon as possible</p>
            </div>
        </div>
        <div class="dropdown">
            <button class="button">What do I do if I am not satisfied with my order?</button>
            <div class="answer">
                <p>We have a return policy in place to ensure that every customer has their needs met if there is an issue with the order</p>
            </div>
        </div>
        <div class="dropdown">
            <button class="button">Are you hiring?</button>
            <div class="answer">
                <p>We have all our current job openings in our Career page</p>
            </div>
        </div>
        <div class="dropdown">
            <button class="button">Do you take suggestions for new products?</button>
            <div class="answer">
                <p>We are not currently taking suggestions for new products, but if you have a suggestion please send us a message through our contact page</p>
            </div>
        </div>
        <div class="dropdown">
            <button class="button">Do you cater to dietary restrictions? (ex. Gluten Free, Vegan, etc.)</button>
            <div class="answer">
                <p>As of right now we do not have distinctions for products that cater to different dietary restrictions, but we will work to add it in the future!</p>
            </div>
        </div>
        <div class="dropdown">
            <button class="button">Your products are so good! Where can I get a copy of your recipes?</button>
            <div class="answer">
                <p>Unfortunately, our recipes are an industry secret, but we're happy that you enjoy our products so much!</p>
            </div>
        </div>
    </div>
</div>
</body>
