.footer{
    background-color:#e3f2fd;
    height: 45vw;
    width: auto;
    margin-top: 20vh;
    flex-direction: row;
    display: flex;
    margin-bottom: 0px;
}

.left{
    margin-top: 10vh;
    margin-bottom: 20vh;
    margin-left: 5vw;
    font-size: auto;
}

#name{
    font-family: 'Dancing Script', cursive;
    font-size: 3vw;
}

ul{
    flex: 1;
    flex-direction: column;
    display: flex;
    font-family: 'Dancing Script';
    font-size: 1vw;
    text-align: left;
}

li{
    display: inline-block;
    list-style-type: none;
    margin: 0 2vw;
    font-size:2vw;
    text-decoration: none;
    margin-bottom: 0.2vw;
}

ul li a{
    text-decoration: none;
    color: black;
}


.middle{
    margin-left: 5vw;
    text-align: left;
}

.right{
    margin-left:5vw;
    text-align: left;
}

.connect{
    font-size: 8vw;
    text-align: left;
}

.rightmost{
    margin-left: 8vw;
    flex-direction: column;
    display: flex;
    text-align: left;
}
.rightmost>a, .rightmost>p, .rightmost>input{
    font-size: 1.5vw;
    color: black;
    text-decoration: none;
}

.fa-instagram {
    color: black;
    text-decoration: none;
}

.fa-google {
    color: black;
    text-decoration: none;
}
  
.fa-linkedin {
    color: black;
    text-decoration: none;
}

#sub{
    background-color: white;
}
