<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">  
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap" rel="stylesheet">
</head>
<!-- footer start-->
<form action="/action.php">
    <div class="footer" [ngStyle]="{'background-color': theme}">
        
        <div class="left">
            <h2 id="name">Mad Batters</h2>
         </div>

         <div class="middle">
            <a routerLink="/mycart">My Cart</a><br>
            <a routerLink="/admin">Admin Login</a><br>
            <a routerLink="/about-us">About Us</a><br>
         </div>
    
         <div class="right">
            <a routerLink="/contact-us">Contact Us</a><br>
            <a routerLink="/careers">Careers</a><br>
            <a routerLink="/faq">FAQ</a><br>
            <a routerLink="/for-investors">For Investors</a>
         </div>
    
         <div class="rightmost">
             <a routerLink="/legal-disclaimer">Legal Disclaimer</a>
             <a routerLink="/privacy-policy">Privacy Policy</a>
             <a routerLink="/return-policy">Return Policy</a>
             <a routerLink="/sustainability">Sustainability</a>        
         </div>

         <div class="last">

            <p class="connect">Get the latest news & offers</p>
                <input type="text" placeholder="Enter your email" name="mail"> <br>  
                <input type="submit" value="Subscribe" id="sub">
                
            <p class="connect"> Connect with us</p>
            <span class="iconify" data-icon="mdi:instagram"></span>
            <div style="flex:display; flex-direction:row; font-size: 2vw;">
                <a href="https://www.instagram.com/" target="_blank" class="fa fa-instagram"></a> &nbsp;
                <a href="https://ca.linkedin.com/" target="_blank" class="fa fa-linkedin"></a> &nbsp;
                <a href="https://www.google.com/account/about/?hl=en-US" target="_blank" class="fa fa-google"></a> &nbsp;
            </div>
         </div>
    
    </div>
</form>
<!-- footer end-->
