<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Checkout Madbatters">
  <link rel="stylesheet" href="checkout.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  
<section>
  <div id="checkout">
    <h2> Your order has been submitted and we will get in touch with you soon to verify your billing details!
      <br>
      Thank you for shopping with us!
    </h2>
    <img id="img-cart" src="../../assets/cart.svg" alt="cart">
  </div>
  
</section>

</body>
</html>
