/*https://codepen.io/supah/pen/OMdPpW*/
#card-container{
    
}
#img{
    position: relative;
    width: 15vw;
    height: 10vw;
    background: rgb(223, 132, 132);
    border-radius: 15px;
}
#order-bar{
  width: 10vw;
  height: 5vh;
  top: 18vh;
  left:50%;
  position: absolute;
  transform: translateX(-50%);
  background: rgb(140, 132, 223);
}