<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="category.component.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins:ital,wght@1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Hind:wght@500&family=Poppins:ital,wght@1,200&display=swap" rel="stylesheet">
</head>
<body>
  <app-navbar></app-navbar>
  <!-- <div id="table" class="cat-table"> -->
          
      <div class="body">
          <h1 class="heading">{{catname}}</h1>

          
          <div style="width:90vw; margin-top: 5vh; display: flex; flex-direction:row;flex-wrap:  wrap; justify-content: center;" class="card-wrapper">

              <mat-card *ngFor="let prod of prods" style="margin-right: 5vw; margin-bottom: 8vh;" class="example-card">
                <img mat-card-image style="width: 18vw;" src="assets/cakes.jpeg" alt="Angular Logo">
                <mat-card-header>
                  <mat-card-title>{{prod.product_name}}</mat-card-title>
                  <mat-card-subtitle>
                      {{prod.product_description}}
                  </mat-card-subtitle>
                </mat-card-header>
            
                <mat-card-actions>
                  <button mat-raised-button color="primary" (click)="routeprod(prod.product_id)">Order Now</button>
                </mat-card-actions>
              </mat-card>
            
            </div>

      </div>

  <app-footer></app-footer>
</body>