.body{
  display: flex;
  height: auto;
  flex-direction: column;
  margin-bottom: 0;
}
.heading{
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 5vw;
}
.card-wrapper{
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
}
.example-card{
  justify-content: center;
  margin-bottom: 8vh;
  margin-left: 5vw;
  margin-right: 5vh;
  box-shadow: 5px 5px 5px #002a5b73;
}
button{
  background-color: #8ed0ff;
  border-radius: 5vw;
  font-family: 'Courgette', cursive;
  font-size: 1.5vw;
}
button:hover{
  background-color: #002B5B;
  color: white; 
}
mat-card-title, mat-card-subtitle{
  font-family: 'Courgette', cursive;
}
