.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
    padding: 2%
  }
  
  .container {
    padding: 2px 16px;
  }
  .cat-table{
      padding-right: 20%;
      padding-left: 20%;
  }
  td{
      width: 33%;
  }
  img{
      width: 100%;
  }
  button{
      
  }