.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
    padding: 2%
  }
  
  .container {
    padding: 2%;
  }
  .cat-table{
      margin-left:35%;
      margin-right:35%;
  }

  td{
      width: 33%;
  }
  img{
      width: 100%;
  }
  button{
      
  }



  .body{
    display: flex;
    height: auto;
    width: 95vw;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
    flex-direction: column;
    margin-bottom: 0;
  }

