<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="category.component.css">
  <meta name="description" content="Categories Madbatters">
  <meta name="keywords" content="Vanilla Cake, Red Velvet Cake, Carrot Cake, Banana Cake, Chocolate Cake, Pound Cake, Fruit Cake, Cheesecake, Lemon Cake, Black Forest Cake, Chocolate Chip Brownie, Fudge Walnut Brownie, Nutella Brownie, Peanut Butter Brownie, Cream Cheese Brownie, Double Chocolate Brownies, Chocolate Mint Brownie, Gluten-Free Brownie, Cookies and Cream Brownie, Dark Chocolate Brownie, Oatmeal Cookies, Almond Cookies, Chocolate Chip Cookies, Coconut Cookies, Peanut Butter Cookies, Butter Cookies, Gluten-Free Cookies, Gingerbread Cookies, Fortune Cookies, Shortbread Cookies, Chocolate Chip Muffin, Strawberry Muffin, Pumpkin Spice Muffin, Banana Muffin, Blueberry Muffin, Apple Cinnamon Muffin, Carrot Cake Muffin, Pecan pie Muffin, Double Chocolate Chunk Muffin, Lemon Blueberry Muffin, Pecan Pie, Apple Pie, Pumpkin Pie, Cherry Pie, Rhubarb Pie, Peach Pie, Coconut Cream Pie, Strawberry Pie, Blackberry Pie, Blueberry Pie">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins:ital,wght@1,200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Hind:wght@500&family=Poppins:ital,wght@1,200&display=swap" rel="stylesheet">

  <!--font-family: 'BhuTuka Expanded One', cursive;font-family: 'Courgette', cursive;font-family: 'Shadows Into Light', cursive;-->
  <link href="https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Courgette&family=Shadows+Into+Light&display=swap" rel="stylesheet">
</head>
<body>
  <app-navbar></app-navbar>
     
  <div class="body">
    <h1 class="heading">{{catname}}</h1>
    <div class="card-wrapper">
      <mat-card *ngFor="let prod of prods" class="example-card">
        <img mat-card-image style="width: 18vw;" src="assets/cakes.jpeg" alt="product imgae">
        <mat-card-header>
          <mat-card-title>{{prod.product_name}}</mat-card-title>
          <mat-card-subtitle>{{prod.product_description}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-actions>
          <button (click)="routeprod(prod.product_id)">Order Now</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <app-footer></app-footer>
</body>