<div class="body">
    <h1 mat-dialog-title class="heading">Add Material Type Record</h1>
    
    <form [formGroup]="Form">
    
            <h2 class="subheading">Enter product Name:</h2>
                <input matInput
                       formControlName="productname"
                       class="input">

                       <h2 class="subheading">Enter product Desc :</h2>
                <input matInput
                       formControlName="productdesc"
                       class="input">

            <h2 class="subheading">Enter category Name :</h2>
                <input matInput
                       formControlName="categoryname"
                       class="input">
            
            <h2 class="subheading">Enter Product Price :</h2>
                <input matInput
                        placeholder="Only Enter Number"
                        formControlName="productprice"
                        class="input">
            
    </form>
    
    <mat-dialog-actions>
        <button class="mat-raised-button btn"(click)="close()" >Close</button>
        <button class="mat-raised-button mat-primary btn"(click)="save()" >Save</button>
    </mat-dialog-actions>
    </div>