<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins:ital,wght@1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Hind:wght@500&family=Poppins:ital,wght@1,200&display=swap" rel="stylesheet">

</head>

<body>
    <div class="container" style="width: auto;">
        <nav style="background-color: #e3f2fd; height:4vh">
          <a routerLink=""><img src="../../assets/img1.png" alt="Mad Batters logo" class="menu-img" /> </a>
          <ul>
            <li><a routerLink="/login"> Login </a></li>
            <li><a routerLink="/signup"> Signup </a><li>
            <li><a routerLink="/"> My Bag </a></li>
          </ul>
        </nav>  
        
        <br>
        <nav style="background-color: #e3f2fd; height:1.5vh">
            <ul style="text-align: left;">
                <li><a href="#">PC 1</a></li>
                <li><a href="#">PC 2</a></li>
                <li><a href="#">PC 3</a></li>
                <li><a href="#">PC 4</a></li>
              </ul>
              <ul style="text-align: right;">
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
              </ul>
        </nav>    
     </div>
</body>

