.container{
    height:auto;
    width: auto;
}

nav{
    display: flex;
    align-items: center;
    padding: 2vw 8%;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 0.5vw;
    /* font-family: 'Playfair Display',sans-serif; */
}

nav .menu-img{
    height:13vw;
    width:13vw;
    margin-right: 25px;
    margin-left: 100px;
}

nav ul{
    flex: 1;
    margin: 0vw;
    text-align: right;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    margin: 0vw 1.5vw;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
    font-weight: bolder;
}



