<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="sustainability.component.css">
    <meta charset="UTF-8">
    <title>Sustainability</title>
</head>
<body>
<div id="container">
    <h2>Sustainability</h2>
    <br>
    <hr>
    <div id="writing">
        <p class="inside">
            We at the Mad Batter care about the environment, that's why we are consistently pushing to make our processes more environmentally sustainable.
        </p>
        <p class="inside">
            Our products are packed in recycled paper/cardboard packaging when available. When we must use plastic, it is biodegradable plastic, so it won't fill up land fills.
        </p>
        <p class="inside">
            We source all our ingredients from local farms and suppliers, lowering the carbon footprint of our ingredients
        </p>
        <p class="inside">
            Unused ingredients and extra product gets donated to local food shelters to ensure that nothing goes to waste.
        </p>
    </div>
</div>
</body>
</html>
