<?php include 'contact-us-page.component.php';?>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Contact us Madbatters">
    <title>Contact Us</title>
    <link rel="stylesheet" href="contact-us-page.component.css">
</head>
<body>
<app-navbar></app-navbar>
<div id="container">
<div class="contactUs">
    <p>Contact Us</p>
</div>

<div class="missionStatement">
    <!--Mission Statement-->
    <span class="header">E-mail</span> <img src="https://freesvg.org/img/Mail-Icon-White-on-Black.png" height="22px" width="22px">
    <p>Is there an issue with a product that you received? Do you have any questions about your order? Feel free to contact us at our email <a href="mailto:madbatter3340@gmail.com">our email</a> and we will be glad to help!</p>
</div>
<br>
<br>
<div class="contactText">
    <!--Company Story-->
    <form method="post" action="contact-us-page.component.php" onsubmit="submitted()">
        <p>Please enter the subject of your question below</p>
        <input type="text" name="subject">
        <p>Enter your email below</p>
        <input type="text" name="senderEmail" required>
        <p>Please enter your message below</p>
        <textarea id="message" name="message"></textarea>
        <br>
        <input type="submit" name="submitButton" value="Send Email">
        <input type="reset">
    </form>
</div>
<br>
</div>
<app-footer></app-footer>
</body>
</html>
