<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="contact-us-page.component.css">
    <meta charset="UTF-8">
    <title>Contact Us</title>
</head>
<body>
<app-navbar></app-navbar>
<div id="container">
<div class="contactUs">
    <p>Contact Us</p>
</div>

<div class="missionStatement">
    <!--Mission Statement-->
    <span class="header">E-mail</span> <img src="https://freesvg.org/img/Mail-Icon-White-on-Black.png" height="22px" width="22px">
    <p>Is there an issue with a product that you received? Do you have any questions about your order? Feel free to contact us at our email <a href="">our email</a> and we will be glad to help!</p>
</div>
<br>
<br>
<div class="contactText">
    <!--Company Story-->
    <span class="header">Enter your Message</span>
    <br>
    <br>
    <textarea>Dear MadBatter team,...</textarea>
    <br>
    <button type="submit" formaction="email">Send Message</button>
    <br>
</div>
<br>
</div>
<app-footer></app-footer>
</body>
</html>
