.cart-container{
    width: 100%;
    height: 50vw;
    position: relative;
    background-color: white;
    text-align: center;
}

#main-img{
    width: 15vw;
    height: 18vw;
    margin-top: 1vw;
    margin-right: 15vw;
    margin-left: 0vw;
    margin-bottom: 1vw;
}

h2{
    font-family: 'Shadows Into Light', cursive;
    font-size: 2vw;
    margin-bottom: 0%;
}

p{
    font-family: 'Courgette', cursive;
    font-size: 1.5vw;
    margin-bottom: 0%;
}

.profinal{
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin-left: 15vw;
    width:70vw;
    height: 20vw;
    border: 1px solid black;
}

#desc{
    align-items: center;
    flex-direction: row;
    display: flex;
}

#price,#quantity{
    margin-right:1vw;
}

#btncheckout{
    font-family: 'Courgette', cursive;
    font-size: 1.5vw;
    margin-bottom: 0%;
}


