body
{
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    text-align: center;
}



#container
{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #e3f2fd;

}

h2
{
    font-size: 35px;
}

#writing
{
    font-size: 29px;
    padding: 15px;
    background-color: white;
    border: 5px solid #e3f2fd;
}
