<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="for-investors.component.css">
    <meta charset="UTF-8" content="width=device-width, initial-scale= 1.0">
    <title>For Investors</title>
</head>
<body>
<app-navbar></app-navbar>
<div id="container">
    <h2>Investor Information</h2>
    <div id="writing">
        <p>
            Welcome investors!
            <br>
            <br>
            Welcome to our investor information page. Here you will find all current information on current investment opportunities.
            <br>
            <br>
            We are a fairly new company and are currently seeking investors with experience in the field.
            <br>
            If you are interested in learning more and possibly investing, please <a href="">contact us</a> and we will reach out to you with more information.
        </p>
    </div>
</div>
</body>
