body
{
    margin: 0 auto;
    background-color: lightgrey;
    text-align: center;
}



#container
{
    margin-left: 10%;
    margin-right: 10%;
}

h2
{
    font-size: 35px;
}

#writing
{
    font-size: 29px;
    padding: 15px;
    background-color: white;
}