<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="return policy Madbatters">
    <link rel="stylesheet" href="return-policy.component.css">
    <title>Return Policy</title>
</head>
<body>
<app-navbar></app-navbar>
    <div id="container">
        <h2>Our Return Policy</h2>
        <div>
            <p style="font-size: 25px;">
                We do not accept return on any products, however if there is an issue, please follow the steps below to receive a refund.
            </p>
            <hr>
            <br>
            <div id="stepContainer">
                <p id="stepOne">
                    Step 1:
                    <br>
                    Take a photo of your product and include it in an email
                </p>
                <p id="stepTwo">
                    Step 2:
                    <br>
                    In your email include the reason you are requesting a refund
                </p>
            </div>
            <div id="secondStepContainer">
                <p id="stepThree">
                    Step 3:
                    <br>
                    We will reach out to you with the status of your refund once your request has been processed.
                    Depending on your claim, we will either provide a full refund, store credit, or no refund if the claim is not valid.
                </p>
            </div>
            <div id="inputBox">
                <label>First Name </label>
                <input type="text" required>
                <label>Last Name </label>
                <input type="text" required>
                <br>
                <br>
                <label>Email </label>
                <input type="text" required>
                <label>Reason for Refund </label>
                <input type="text" required>
                <br>
                <br>
                <label>Additional information if required</label>
                <br>
                <textarea rows="15" cols="50">
                </textarea>
                <br>
                <button type="submit">Submit Request</button>
                <button type="reset">Reset</button>

            </div>
            <br>
        </div>
    </div>
<app-footer></app-footer>
</body>
</html>
