<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="legal-disclaimer.component.css">
    <meta charset="UTF-8">
    <title>Legal Disclaimer</title>
</head>
<body>
<div id="container">
    <h2>Legal Disclaimer</h2>
    <div id="disclaimer">
        <p class="writing">
            The items sold on this website are perishable food items.
            <br>
            The Mad Batter is not responsible for any sickness or injury that may occur as a result
            food products purchased from The Mad Batter
            <br>
        </p>
        <p class="writing">
            The Mad Batter does everything in their power to ensure that all of the food items that are delivered to customers are
            in the highest quality.
        </p>
    </div>
</div>
</body>
</html>
