body
{
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    background-color: #e3f2fd;
}

h2
{
    text-align: center;
    font-size: 35px;
}

#container
{
    margin-left: 10%;
    margin-right: 10%;
}

#disclaimer
{
    background-color: white;
    border: 0.5px solid black;
}

.writing
{
    font-size: 29px;
    padding: 15px;
    text-align: center;
}
