<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="privacy-policy.component.css">
    <meta charset="UTF-8">
    <title>Privacy Policy</title>
</head>
<body>
<div id="container">
    <h2>Privacy Policy</h2>
    <div id="disclaimer">
        <p class="writing">
            All payment information you enter will be not be saved after your checkout
            <br>
            <br>
            We at Mad Batter will not sell your information nor will we disclose your information to advertisers
        </p>
    </div>
</div>
</body>
</html>
