body
{
    margin: 0 auto;
    text-align: center;
    font-family: "Poppins, sans-serif", sans-serif;
}

h2
{
    font-size: 35px;
}

#container
{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #e3f2fd;

}

#disclaimer
{
    padding: 15px;
    background-color: white;
    font-size: 29px;
    border:5px solid #e3f2fd;

}
