<form [formGroup]="signupForm" (ngSubmit)="signup()" novalidate>
    <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput placeholder="Ex. John" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ex. John@uwindsor.ca" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Pasword</mat-label>
        <input matInput type="password" placeholder="Ex. John" formControlName="name">
    </mat-form-field>  
    <button color="accent" [disabled]="!signupForm.valid" mat-raised-button type="submit"> <span> Sign Up</span></button>
</form>