<div class="body">
    <div class="sidebar">
        <div class="logo">
            
          <h1 class="logoheading">MadBatter</h1>
        </div>
        <div class="sidebaroptions">
         
            <button class="input-btn-dash">
                <p>DashBoard</p>
            </button>
            <button class="input-btn-dash" (click)="management()" >
                <p>Mangement</p>
            </button>
            <button class="input-btn-manag"  >
                <p>Theme</p>
            </button>
            <button class="input-btn-logout" (click)="logout()" >
                <p>Log Out</p>
            </button>
        </div>
    </div>
    <div class=content>
    <h1 class="projectheading">Management Tool</h1>
       <h1 class="heading">Theme Center</h1>
       <div class="firstrowofcomponents">
            <div class="categoryrecords">
             <app-updatetheme></app-updatetheme>
            </div>
        </div>
    </div>
</div>