<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="home.component.css">
    <!--<script src="home-page.component.js"></script>-->
    <meta charset="UTF-8" content="width=device-width, initial-scale= 1.0">
    <title>Mad Batter Home</title>
</head>

<body>
<br>
<!--container for content-->
<div id="container">
    <!--slideshow-->
    <div id="slideshowContainer">
        <img class="slide" src="https://live.staticflickr.com/3353/4643536339_040a11812c_b.jpg">
        <img class="slide" src="https://c.pxhere.com/photos/02/fd/cupcake_dessert_frosting_food-5722.jpg!d">
        <img class="slide" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Apple_raspberry_pie.jpg/1280px-Apple_raspberry_pie.jpg">
        <img class="slide" src="https://upload.wikimedia.org/wikipedia/commons/d/df/Chocolate_cake.jpg?20060725192854">
        <img class="slide" src="https://c.pxhere.com/photos/85/6d/fudge_brownies_snack_chocolate_delicious_treat_food_sweet_cake-819873.jpg!d">
    </div>
    <br>
    <div class="productContainer">
        <div class="gridContainerOne">
            <img class="productImageOne" src="https://live.staticflickr.com/3353/4643536339_040a11812c_b.jpg">
            <img class="productImageTwo" src="https://c.pxhere.com/photos/02/fd/cupcake_dessert_frosting_food-5722.jpg!d">
            <img class="productImageThree" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Apple_raspberry_pie.jpg/1280px-Apple_raspberry_pie.jpg">
            <div class="productOverlay">
                <button routerLink="/category" type="button">Order Now</button>
                <span>View Product</span>
            </div>

            <div class="productOverlay">
                <button routerLink="/category" type="button">Order Now</button>
                <span>View Product</span>
            </div>

            <div class="productOverlay">
                <button routerLink="/category" type="button">Order Now</button>
                <span>View Product</span>
            </div>
        </div>
        <div class="gridContainerTwo">
            <img class="productImageFour" src="https://upload.wikimedia.org/wikipedia/commons/d/df/Chocolate_cake.jpg?20060725192854">
            <img class="productImageFive" src="https://c.pxhere.com/photos/85/6d/fudge_brownies_snack_chocolate_delicious_treat_food_sweet_cake-819873.jpg!d">
            <div class="productOverlay">
                <button routerLink="/category" type="button">Order Now</button>
                <span>View Product</span>
            </div>
            <div class="productOverlay">
                <button routerLink="/category" type="button">Order Now</button>
                <span>View Product</span>
            </div>
        </div>
    </div>
    <br>
    <!--Contact Us-->
    <div class="contactusContainer">
        <div class="contactusPhoto">
            <img class="contactusPhoto" src="https://c.pxhere.com/photos/de/4c/achievement_adult_business_business_people_businessmen_businesswomen_cheerful_colleagues-1559363.jpg!d">
        </div>
        <div class="contactusInfo">
            <p>Contact Us</p>
            <p>Our team can assist you with your order or all questions you may have</p>
            <button routerLink="#" type="button">CONTACT US</button>
        </div>
    </div>
    <br>
    <!--About Us -->
    <div class="aboutUsContainer">
        <div class="aboutUsImage">
            <img class="aboutUsImage" src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/px1403204-image-kwyqkpci.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=3315fa91539c856be1023968216e2415">
        </div>
        <div class="aboutUsInfo">
            <p>About Us</p>
            <p>Curious to learn about our company history? Visit our about us page to learn our company origins and how we continue to innovate</p>
            <button href="#" type="button">ABOUT US</button>
        </div>
    </div>
    <br>
</div>
<app-footer></app-footer>



</body>
